.nav3{
    margin-top: 40px;
    margin-left: 20%;
    color: white;
}
.nav4{
    margin-top: 40px;
    margin-left: 20%;
    color: white; 
}
.nav{
    background-color: rgb(21, 21, 143);
    border: 1px;
}
.main{
    background-color: blue;
}
.abc{
    border: 1px solid orange;
    height: 80px;
    width: 80%;
    align-items: center;
    margin-left: 90px;
}
.a{
    height: 80px;
    width: 450px;
    border: 1px solid orange;
}
.b{
    margin-top: 30px ;
    margin-left: 10px;
    padding: 20px;
}